.jumbotron {
  margin-bottom: 0;
  background-image: url('../images/big-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}

.jumbotron h1 {
  color: #faf4eb;
  font-size: 88px;
  font-family: cursive;
  font-weight: 500;
  text-shadow: 2px 2px #55382a;
}

.jumbotron div {
  height: 370px;
  top: -48px;
  padding: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gradBack {
  background: linear-gradient(bottom, rgba(119,68,34,.7), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(119,68,34,.7), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(119,68,34,.7), rgba(0,0,0,.4));
}

.centerImg {
  display: flex;
  justify-content: center;
}

.logo {
  /*position: absolute;
  top: -60px;*/
  height: 160px;
  width: 160px;
  z-index: 1;
}


.logo_cont {
  position: absolute;
  top: -70px;
  background-color: #f2e8d8;
  border-radius: 50%;
  border: 6px solid rgb(74,52,41);

}

.navbar {
  background-color: #2e1f13;
  border: none;
}

.navbar a {
  color: #f2e8d8;
  font-size: 20px;
}

iframe {
  width: 90%;
  height: 250px;
}

.arrow {
  position: fixed;
  right: 10px;
  bottom: 30px;
}

.sidebar {
  margin-top: 20px;
}

.flavorPhotos {
  max-width: 150px;
  max-height: 150px;
}
