* {
  font-size: 20px;
  line-height: 25px;
}

body {
  background-color: #fc8;
  font-family: 'Cabin', sans-serif;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 317px;
  background-image: url("../images/ice-cream.jpg");
  background-repeat: no-repeat;
  background-position: top center;;
  background-color: #742;
  position: absolute;
  left: 0;
  right: 0;
}

p {
  color: #411;
  margin: 10px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3 {
  color: #FA1427;
  margin: 20px 10px;
  padding-top: 20px;
}

span {
  text-decoration: underline;
}

.header_space {
  height: 100px;
}

.betty {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0;
  height: 170px;
  padding: 70px 0;
  color: white;
  font-size: 3rem;
  background: linear-gradient(bottom, rgba(119,68,34,.8), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(119,68,34,.8), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(119,68,34,.8), rgba(0,0,0,.4));
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 75px;
  font-family: 'Gloria Hallelujah', cursive;
}

.logo-spacing {
  display:block;
  margin: auto;
  position: absolute;
  width: 22%;
  text-align: center;
  z-index: 1;
  margin-top: 130px;
}

.nav-spacing.float-right {
    width: 100%;
    margin: auto;
    display: block;
}


nav {
  height: 45px;
  background-color: #411;
  color: #ca8;
  width: 100%;
  position: absolute;
  top: 290px;
}

ul{
  position: relative;
  margin-top: 8px;
  margin-left: 20%;
}

li {
  display: inline;
  color: #ca8;
  padding: 0 1rem;
}

li:hover {
  background-color: #ea0;
  color: #411;
  height: 45px;
}

.arrow {
  position: fixed;
  right: .5rem;
  bottom: 2rem;
  padding: 5px;
}

.home-arrow {
  background-color: #d90;
  border-radius: 30%;
  border: 1px solid #d90;
}

header li {
    margin: 0 0 0 10px;
  }

a {
  color: black;
  text-decoration: none;
}

.social a:link {
 background-color: none;
}

a i:visited {
 background-color: #FA1427;
 border-radius: 30%;
 border: 1px solid #FA1427;
}

a i:hover {
  background-color: #FA1427;
  border-radius: 30%;
  border: 1px solid #FA1427;
}

.sidebar {
  width: 20%;
  min-width: 250px;
  padding: 10px;
  margin: auto;
  margin-top: 375px;
  display: block;
  ;
}

.sidebar p {
  text-align: justify;
}

main {
  width: 70%;
  padding: 0 0 0 20px;
  margin: auto;
  display: block;
  margin-top: 375px;
}

main p {
  text-align: justify;
}

.flavors {
  border: 3px solid #411;
  width: 28%;
  margin: 5px;
  padding: 5px;
  height: 350px;
  text-align: center;
}

 .flavors:nth-of-type(odd) {
  background-color: #B5906B;
}

.flavors:nth-of-type(even) {
 background-color: #D9BEA3;
}

.flavors:link {
  background-color: inherit;
}

.flavors:visited {
  background-color: #d90;
}

.flavors:hover {
  background-color: #d90;
}

.flavors img{
  height: 120px;
  margin: auto;
  display: block;
  margin-top: 18px;
}

.flavors h3 {
  color: #663A1D;
  letter-spacing: 1.3px;
  padding-top: 5px;
}

table {
  font-size: 1rem;
  border-collapse: collapse;
  margin: auto;
  display: table;;
  width: 90%;
  min-height: 125px;
}

table, th, td {
  border: 2px solid #411;
}

th, td {
  vertical-align: middle;
  /*height: 60px;*/
  /*width: auto;*/
}

th {
  height: 40px;
  background-color: #C4A687;
}

.contact {
  clear: both;
}

.contact h2 {
  padding-top: 25px
}

.fa-2x {
  font-size: 2rem;
}

.fa-3x {
  font-size: 3rem;
}

.contact p {
  width: 40%;
}

iframe {
  width: 55%;
  height: 160px;
  margin-right: 10px;
}

footer {
  background-color: #411;
  font-size: 1.5rem;
  color: #ca8;
}

footer p {
  color: #ca8;
  margin-left: 20px;
  padding: 10px 0;
}

.social {
  margin-right: 20px;
}

.social i {
  padding: 15px 5px;
}

.clear-footer {
  clear: both;
}
