* {
  font-size: 20px;
}

body {
  background-color: #fc8;
  font-family: 'Baloo Bhai', cursive;
}

header {
  height: 317px;
  background-image: url("../images/ice-cream.jpg");
  background-repeat: no-repeat;
  background-position: top center;;
  background-color: #742;
}

p {
  color: #411;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3 {
  color: #f34;
}

.header_space {
  height: 100px;
}

.logo {
  border: 6px solid #411;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: #d90;
  position: absolute;
  top: 225px;
  left: 20px;
  z-index: 1;
}
.logo img {
  margin:auto;
  display: block;
  top: 4px;
  position: relative;
}

.logo p {
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Baloo Bhai', cursive;
  line-height: 1.2rem;
  top: 2px;
  color: #411;
}

nav {
  height: 45px;
  background-color: #411;
  color: #ca8;
  width: 100%;
  position: absolute;
  top: 290px;
}

ul{
  padding-left: 25%;
  position: relative;
  margin-top: 8px;
}

li {
  display: inline;
  color: #ca8;
  padding: 1rem;
}

.arrow {
  position: fixed;
  right: .5rem;
  bottom: 2rem;
}

.home-arrow {
  background-color: #d90;
  border-radius: 30%;
  border: 1px solid #d90;
}

a {
  color: black;
  text-decoration: none;
}

a i:hover {
  background-color: #f34;
  border-radius: 30%;
  border: 1px solid #f34;
}
 a i:visited {
  background-color: #d90;
  border-radius: 30%;
  border: 1px solid #d90;
}

.sidebar {
  width: 22%;
  padding: 1em;
  margin: auto;
  display: block;
  margin-top: 75px;
}

.sidebar p {
  text-align: justify;
}

main {
  width: 68%;
  padding: 1em;
  margin-right: 2em;
  margin: auto;
  display: block;
    margin-top: 75px;
}

main p {
  text-align: justify;
}

.flavors:hover {
  background-color: #d90;
}

.flavors img{
  height: 150px;
}

.fa-2x {
  font-size: 2rem;
}

.fa-3x {
  font-size: 3rem;
}



footer {
  background-color: #411;
  font-size: 1.5rem;
  color: #ca8;
}

footer p {
  color: #ca8;
  margin-left: 20px;
  padding: 10px 0;
}

.social {
  margin-right: 20px;
}

i {
  padding: 5px;
}

.clear-footer {
  clear: both;
}
